body{
    overflow: hidden;
}

.myContainer {
    margin-left: 50px; 
    margin-top: 5px;
}

.customCol {
    padding-left: 5px !important; 
    padding-right: 0px !important;
}

iframe {
    position:fixed; 
    top:0; left:0; 
    bottom:0; 
    right:0; 
    width:100%; 
    height:100%; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden;
    background: white;
}

.customMenuButton {
    position:fixed; 
    top:7px; 
    left:7px;
}

.customMenuStatistics{
    position:fixed; 
    top:7px; 
    left:50%;
    z-index: 99999;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
}

#NewCallRingingWindow{
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    display: flex;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 250px;
    height: 70px;
    z-index: 99999;
    align-content: center;
    text-align: center;
}

#NewCallRingingWindow button{
    margin-left: 5px;
    margin-right: 5px;
}